* {
    box-sizing: border-box;
}

.group-container-2 {
    display: grid;
    grid-template-rows: repeat(4, 200px);
    grid-template-columns: repeat(4, 200px);
    gap: 10px;
    margin-bottom: 20px;
}

.group-container-2 .item {
    font-size: 18px;
    text-align: center;
    line-height: 200px;
    letter-spacing: 4px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.group-container-2 .item-1 {
    background-color: aqua;

    /* to position item horizontally */
    grid-row-start: 3;
    grid-row-end: 4;

    /* to position item vertically */
    grid-column-start: 2;
    grid-column-end: 3;
}

.group-container-2 .item-2 {
    background-color: blue;

    /* shorthand property style-1 to position item horizontally */
    grid-row: 2/3;
    /*row-start/row-end */
    /* shorthand property style-1 to position item vertically */
    grid-column: 3/4;
    /* column-start/column-end */
}

.group-container-2 .item-3 {
    background-color: blueviolet;

    /* shorthand property style-1 to position item horizontally and vertically */
    grid-area: 2/4/3/5;
}

.group-container-2 .item-4 {
    background-color: brown;
}

.group-container-2 .item-5 {
    background-color: cadetblue;
}

.group-container-2 .item-6 {
    background-color: chartreuse;
}

.group-container-2 .item-7 {
    background-color: yellow;
}

.group-container-2 .item-8 {
    background-color: slategray;
}

.group-container-2 .item-9 {
    background-color: steelblue;
}

.group-container-2 .item-10 {
    background-color: teal;
}

.group-container-2 .item-11 {
    background-color: tomato;
}

.group-container-2 .item-12 {
    background-color: violet;
}


.group-container {
    background-color: orange;

    display: grid;

    /* grid container properties */
    /* grid-template-row */
    /* property values can be 
        <track-size> (lengths, percentages, viewports units, fractions) 
        <line-name> (an orbitory name your choosing) */
    height: 600px;
    /* need to provide height to while working with rows with fr units */
    grid-template-rows: 150px 150px 150px 150px;
    grid-template-rows: 150px 1fr 20%;

    /* grid-template-columns */
    grid-template-columns: 150px 150px 150px;
    grid-template-columns: 120px 1fr 50%;

    /* column-gap */
    /* column-gap: 10px;
    column-gap: 10%;
    column-gap: 10vw; */
    column-gap: 5rem;

    /* row gap */
    /* row-gap: 10px;
    row-gap: 10%;
    row-gap: 10vw; */
    row-gap: 5rem;

    /* grid-gap shorthand for row and column */
    /* gap: 2px 20px; */
    gap: 20px;

}

.item {
    background-color: yellow;
}